#hoverDiv {
    width: 300px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    background-color: lightcoral;
    height: 30px;
    border-radius: 20px;
}

#inputKey{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    background-color: black;
    color:aliceblue;
    padding: 10px;
    text-align: center;
}

#simpleForm{
    color:blue;
    border: 5px inset;
    padding: 5px;
    margin: 20px 300px 20px 300px;
    background-color: rgb(99, 185, 152);
    align-items: center;
    text-align: center;
    display: flex;
}

#secondForm{
    color:rgb(5, 5, 5);
    border: 5px outset;
    padding: 5px;
    margin: 20px 300px 20px 300px;
    background-color: rgb(53, 35, 134);
    align-items: center;
    text-align: center;
    display: flex;
}